<section id="404">
    <div class="container">
        <div class="row h-100 align-items-center">
            <div class="col-md-12 text-center">
                <i class="fas fa-times-circle fa-9x mb-2" style="color: #ff0000"></i>
                <h1>Swing and a Miss</h1>
                <h2>Page Does Not Exist</h2>
                <a href="/" class="btn btn-outline-danger btn-lg"><span><i class="fas fa-arrow-alt-circle-left"></i></span> Home Page</a>
            </div>
        </div>
    </div>
</section>
