<h3>Contact Us Page</h3>
    <div class="fields">
        <div class="container">
            <form action="###">
                <div class="items">
                <label for="fname" id="inputfield"> </label>
                <input type="text" name="firstname" placeholder="Name">
                </div>
                <div class="items">
                <label for="lname" id="inputfield"></label>
                <input type="text" name="email" placeholder="Email">
                </div>
                <div class="items">
                <label for="subject" id="inputfield"></label>
                <textarea id="subject" name="subject" placeholder="Leave a message"
                    style="height:200px"></textarea>
                </div>
                <input type="submit" id="submit" value="Submit">
        </div>
    </div>
</form>