<div class="container">
    <div class="row">
        <form id="signUp" name="signUp">
            <div class="form-group">
                <label for="firstName">First Name:</label>
                <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Sam" required />
                <label for="lastName">Last Name:</label>
                <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Smith" required />
                <label for="email">Email Address (this will also be your username):</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="email@email.com" required />
                <label for="password">Password (Requirements: 8-12 characters, 1 capital letter, 1 lowercase letter,
                    and 1 number):</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="password"
                    required />
                <button type="submit" class="btn btn-primary submit">Register</button>
            </div>
        </form>
        <br />
        <p>Already have an account? <a href="/signin">Sign in here.</a></p>

    </div>
</div>